# CONFIGURATION
/config/config.local.yaml

# TEMP
.temp
.tmp

# LOGGING
.log

# IDE
.idea/
.vscode/

# PYTHON
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd

# ROS2
build/
install/
log/

# CMAKE
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile

# ISAAC ROS
isaac_ros_assets/
