[submodule "source/workspaces/universal_robots/src/Universal_Robots_ROS2_Description"]
	path = source/workspaces/universal_robots/src/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = humble
[submodule "source/workspaces/universal_robots/src/Universal_Robots_ROS2_Driver"]
	path = source/workspaces/universal_robots/src/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = humble
[submodule "source/workspaces/nvidia/src/isaac_ros_common"]
	path = source/workspaces/nvidia/src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = release-3.2
[submodule "source/workspaces/nvidia/src/isaac_ros_cumotion"]
	path = source/workspaces/nvidia/src/isaac_ros_cumotion
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_cumotion.git
	branch = release-3.2
[submodule "source/workspaces/nvidia/src/isaac_ros_nvblox"]
	path = source/workspaces/nvidia/src/isaac_ros_nvblox
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nvblox.git
	branch = release-3.2
[submodule "source/workspaces/nvidia/src/ros2_robotiq_gripper"]
	path = source/workspaces/nvidia/src/ros2_robotiq_gripper
	url = https://github.com/NVIDIA-ISAAC-ROS/ros2_robotiq_gripper.git
[submodule "source/workspaces/nvidia/src/serial"]
	path = source/workspaces/nvidia/src/serial
	url = https://github.com/tylerjw/serial.git
[submodule "source/workspaces/nvidia/src/isaac_ros_object_detection"]
	path = source/workspaces/nvidia/src/isaac_ros_object_detection
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_object_detection.git
	branch = release-3.2
[submodule "source/workspaces/nvidia/src/isaac_ros_pose_estimation"]
	path = source/workspaces/nvidia/src/isaac_ros_pose_estimation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_pose_estimation.git
	branch = release-3.2
