<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- EXPOSE STANDARD MATE LINK ARGUMENT -->
    <xacro:arg name="eoat_base_link" default="schmalz_base_link"/>

    <!-- We need to know the link by which this EoAT is mated -->
    <xacro:macro name="eoat" params="manip_tool_link parent_group">

        <!-- This particular EoAT can be defined as a singular link -->
        <group name="eoat">
            <link name="schmalz_base_link"/>
        </group>

        <!-- Mark the core group as an End Effector for MoveIt -->
        <end_effector name="end_effector" group="eoat"
            parent_link="${manip_tool_link}" parent_group="${parent_group}"/>

    </xacro:macro>

</root>
