<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- EXPOSE STANDARD MATE LINK ARGUMENT -->
    <xacro:arg name="eoat_base_link" default="schmalz_base_link"/>

    <!-- This EoAT can be defined as a singular link -->
    <link name="schmalz_base_link">

      <inertial> <!--TODO: update using more accurate inertial properties-->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.35"/>
        <inertia ixx="7.5684E-05" ixy="-5.2187E-10" ixz="-9.5675E-09" iyy="9.5682E-05" iyz="1.1846E-07" izz="7.6694E-05"/>
      </inertial>

      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://goddard_schmalz/description/meshes/visual/schmalz.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://goddard_schmalz/description/meshes/collision/schmalz.stl"/>
        </geometry>
      </collision>

    </link>

</robot>